
<!DOCTYPE html>
<html>
<head>
    <title>Mis Solicitudes</title>
</head>
<header>
    <app-navbar></app-navbar>
</header>
<div class="container">
  
  <h1>Solicitud de Trabajo Relizadas</h1>

  <div class="places">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div class="place" *ngFor="let trabajo of trabajos">
      
      <div class="info">
        <p><b>Titulo de la publicación:</b> {{ trabajo.publicacion?.titulo }} </p>
        <p><b>Precio Trabajo:</b> ${{ trabajo.precio }}</p>
        <p><b>Estado:</b> {{ trabajo.estado }}</p>
        <button *ngIf="trabajo.estado !== 'Cancelado'" (click)="responderSolicitud(trabajo)">Responder</button>
      </div>
    </div>
    
  </div>
</div>

<app-footer></app-footer>
