<!DOCTYPE html>
<html>
<head>
	<title>Crvice</title>
</head>
<body>
      <div class="div-inicio">
        <img src="./assets/img/logo_transparent.png" alt="">
        <h3>Olvidaste tu contraseña?</h3>
        <form>
            <div class="formulario">
                <input type="text" class="form-nombre form-control" name="correo" [(ngModel)]="credenciales.correo">
                <label class="etiqueta form-label">Email:</label>
            </div>
                <div>
                  <button type="submit" class="button" (click)="resetPassword()">Enviar email de recuperación</button>
                </div>
          </form>
      </div>
    <p>¿Aún no tienes cuenta? Crea una presionando <a href=""><span>Aquí</span></a></p>


</body>
</html>

