<!DOCTYPE html>
<html>
<head>
	<title>Nueva Publicación</title>
</head>
<body>
    
    <div class="nueva-publicacion">
        <h1>Nueva Publicación</h1>
        
        <form [formGroup]="formulario" (ngSubmit)="onSubmit($event)">
            <div class="mb-3 form-publicacion">
                <p class="form-label">Título de la Publicación:</p>
                <input type="text" class="form-control form-nombre" formControlName="titulo">
            </div>
            <div class="mb-3 form-publicacion">
                <p class="form-label">Rubro:</p>
                <input type="text" class="form-control form-nombre" formControlName="rubro">
            </div>
            <div class="mb-3 form-publicacion">
                <p class="form-label">Precio Estimado:</p>
                <input type="text" class="form-control form-nombre" formControlName="precio">
            </div>
            <div class="mb-3 form-publicacion">
                <p class="form-label">Descripción:</p>
                <textarea class="form-control form-nombre" rows="2" cols="30"  formControlName="descripcion"></textarea>
            </div>
            <div class="mb-3 form-publicacion">
                <p class="form-label">Imagen:</p>
                <input type="file" id="fileInput" formControlName="photoPost" multiple>
            </div>
            <input type="hidden" formControlName="uid" [value]="uid">
            <input type="hidden" formControlName="nombre">
            <input type="hidden" formControlName="apellido">
            <input type="submit" value="Enviar" class="btn btn-info">   
        </form>

    </div>
</body>