<!DOCTYPE html>
<html>
<head>
	<title>Editar Publicación</title>
</head>
<body>
  <div class="nueva-publicacion">
    <h1>Editando Publicación</h1>
    <form>
      <label for="titulo">Titulo:</label>
      <input type="text" id="titulo" name="titulo" class="form-nombre" [(ngModel)]="publicacion.titulo">
      <br />
      <label for="rubro">Rubro:</label>
      <input type="text" id="rubro" name="rubro" class="form-nombre" [(ngModel)]="publicacion.rubro">
      <br />
      <label for="precio">Precio:</label>
      <input type="text" id="precio" name="precio" class="form-nombre" [(ngModel)]="publicacion.precio">
      <br />
      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" name="descripcion" class="form-nombre" [(ngModel)]="publicacion.descripcion"></textarea>
      <br />
      <div class="div-btn">

      <button type="submit" class="btn" (click)="guardarCambios()">Actualizar</button>
      <button (click)="volver()" class="btn">Volver</button>
    </div>
    </form>
    
  </div>
</body>


