/* ------------------------------------------- */
.contenedor {
    display: flex;
}
.formulario {
    position: relative;
    height: auto;
    /* padding: 1.5rem; */
    padding-top: 1rem;
    margin-bottom: 0;

}
.form-nombre:focus{
    outline: none;
}
.form-nombre{

    transition: top 0.1s ease-in-out, left 0.1s ease-in-out, padding 0.1s ease-in-out;
    /* color: #6c757d; */
    padding: 1rem;
    border-style: none;
    padding-top: 30px;
    padding-bottom: 3px;
    /* padding-left: 5px; */
    border-bottom: 2px solid rgba(168, 165, 165, 0.731);
    margin-left: 29px;

}
.fecha {
    border-bottom:none;
}
small {
    color: rgb(192, 19, 19);
    margin-left: 29px;
}
label {
    position: absolute;
    top: 0;
    left: 5px;
    height: 100%;
    padding: 1.5rem;
    pointer-events: none;
    transition: top 0.1s ease-in-out, left 0.1s ease-in-out, padding 0.1s ease-in-out;
}

img {
    width: 400px;
    height: auto;

}
.contenedor-img {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-formulario {
    background-color: #EBEDFD;
    width: 50vw;
    height: 100%;
}
.info-formulario h3 {
    padding-left: 20px;
}
.button {
    padding: 10px 50px;
    background: #228BFB;
    border-radius: 10px;
    color: white;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer;

}
.contenedor-formulario {
    padding-left: 30px;
    background-color: #EBEDFD;
    width: 50vw;
    height: 100%;
    overflow: auto;
}
input {
    background-color: transparent;
}
input.form-nombre {
    /* padding-right: 200px; */
    padding-right: 39%;
}
input.form-rut {
    padding-right: 10%;
}
h2 {
    font-size: 40px;
    color: #4E4E4E;
    font-weight: 600;
    margin: 0;
}
input[type="date" i] {
    /* display: flex; */
    text-align: right;
    cursor: default;
    overflow: hidden;
}
.div-boton {
    margin-top: 10px;
    margin-left: 29px;
    
}
.acceder {
    margin: 0 0 10px 29px;
    font-size: 12px;

}

body{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.tipo-cuenta{
    padding-top: 20px;
    padding-bottom: 16px;
}
div select {
    border: none;
}

.tipo-cuenta {
    padding-top: 20px;
    padding-bottom: 16px;
    position: relative;
  }
  
  .tipo-cuenta .dudas-cuenta {
    color: rgba(110, 110, 110, 0.8);
    font-size: 14px;
    margin-top: 8px;
    margin-left: 29px;
  }
  
  .tipo-cuenta .enlace-gris-suave {
    color: rgba(110, 110, 110, 0.8);
    text-decoration: underline;
  }

  .titulo-formulario {
    margin-top: 3;
    margin-bottom: 3px;
    margin-left: 25px;
  }

/* ===Vista Responsive=== */
@media only screen and (max-width: 800px) {
    .contenedor-img {
      display: none;
    }
  
    body {
      height: 100%;
      background-color: #EBEDFD;
      margin: 0; /* Agregar margen 0 para eliminar el espacio en blanco */
    }
  
    .info-formulario {
      background-color: #EBEDFD;
      width: 100vw;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column; /* Cambiar a dirección de columna para apilar los elementos */
      align-items: center; /* Centrar verticalmente los elementos */
      justify-content: center; /* Centrar horizontalmente los elementos */
    }

    .form-nombre{

        transition: top 0.1s ease-in-out, left 0.1s ease-in-out, padding 0.1s ease-in-out;
        /* color: #6c757d; */
        padding: 1rem;
        padding-top: 30px;
        padding-bottom: 3px;
        border-bottom: 2px solid rgba(168, 165, 165, 0.731);
        margin-left: 0;
        width: 90%;
    
    }
  
    .contenedor-formulario {
      padding: 0 20px; /* Agregar relleno horizontal para separar del borde de la ventana */
      overflow: auto;
      max-height: 100vh; /* Limitar la altura máxima del formulario para que sea desplazable */
      width: 80%;
      height: auto;
    }
  
    .formulario {
      margin-bottom: 20px; /* Agregar margen inferior para separar los campos del formulario */
    }
  
    input.form-nombre {
      padding-right: 20px; /* Reducir el espacio de relleno derecho en el campo de entrada */
    }
  
    .button {
      padding: 10px 30px;
    }

    .tipo-cuenta {
        position: relative;
        align-content: start;
        text-align: start;
    }
}
  
@media only screen and (max-width: 516px) {

    div select {
        margin-left: 30px;
    }
}