<footer class="footer">
    <div class="container">
        <div class="col1">
            <img src="../../../assets/img/logo_transparent.png" alt="">
            <p class="footer-texto">
                "Conectamos necesidades con habilidades. Crvice.cl, <br> la plataforma para encontrar y ofrecer servicios de calidad."
            </p>
        </div>

        <div class="col">
            <h3>Menú</h3>
            <ul>
                <li><a routerLink="/sobre-nosotros">Nosotros</a></li>
                <li><a routerLink="/sobre-crvice">Servicio</a></li>
            </ul>
        </div>

        <div class="col">
            <h3>Dirección</h3>
            <p>Padre Alonso de Ovalle 1586, Santiago, Región Metropolitana</p>
            <p>+3255 456 789</p>
            <p>servicio.crvice@gmail.com</p>
        </div>
    </div>
</footer>
