.navbar{
    display: flex;
    justify-content: space-between;
}
.navlinks{
    display: flex;
    align-items: center;
}
.navlinks li {
    margin: 0 20px;
}
.navlinks li a {
    color: #304A76;
    font-weight: 600;
}
nav.navbar{
    height: 80px;
}
.boton {
    padding: 10px 16px;
    background: #228BFB;
    border-radius: 30px;
}
.boton:hover {
    background-color: #1e71ca;
}
.navlinks li .boton {
    color:whitesmoke;
}

div .logo {
    color:#304A76;
}
img{
    width: 80px;
    height: auto;
    margin-left: 10px;
}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* ===Vista Responsive=== */
@media only screen and (max-width:770px) {

    .navlinks li{
        margin: 0 10px;
    }
}
@media only screen and (max-width:480px) {

    .navlinks li{
        font-size: 14px;
    }
}