
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- -- font -- -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Hoja de estilo -->
    <link rel="stylesheet" href="index.component.css">
    <title>Crvice</title>
</head>
<app-navbar></app-navbar>
<body>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="header-info">
                    <h1>Puedes comenzar buscando el servicio que necesitas aquí</h1>
                    <input type="text" placeholder="Buscar..." name="buscar" (keyup.enter)="buscar($event)">
                </div>
            </div>
        </div>
    </header>
    <section class="seccion1">
        <div class="container">
            <div class="col">
                <img src="../assets/img/1.png" alt="">
                <div class="info-seccion">
                    <h3>Crear Una Cuenta</h3>
                    <p>Regístrate para poder Acceder a los distintos servicios que podrás encontrar en nuestra página.</p>
                </div>
            </div>
            <div class="col">
                <img src="../assets/img/2.png" alt="">
                <div class="info-seccion">
                    <h3>Pago de Servicios</h3>
                    <p>Abona el 20% para agendar la cita. Luego del trabajo acordarán el medio de pago que estimen conveniente.</p>
                </div>
            </div>
            <div class="col">
                <img src="../assets/img/3.png" alt="">
                <div class="info-seccion">
                    <br>
                    <p>Se podrán calificar entre ustedes para mejorar experiencias futuras.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- seccion registrate -->
    <section class="registrate-aqui" >
        <div class="container">
            <div>
                <h2>Regístrate aquí</h2>
                <a class="boton" (click)="registro()">Regístrate</a>    
            </div>
        </div>
    </section>
    <div>
        <br>
    </div>
</body>
<app-footer></app-footer>
</html>