<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<app-navbar></app-navbar>
<body>
  <div class="container" >
    <div class="search">
      <input type="text" [(ngModel)]="searchEmail" placeholder="Buscar por UID o Correo electrónico" class="searchTerm" (input)="filterUsers()" />
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
    </div>
    <div class="wrap2-wrapper">
      <div id="wrap2" [routerLink]="['/register']">
        <a class="btn-slide">
          <span class="circle"><mat-icon>add_circle_outline</mat-icon></span>
          <span class="title">Añadir usuario...</span>
          <span class="title-hover"><mat-icon>keyboard_arrow_right</mat-icon></span>
        </a>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>UID</th>
          <th>Nombre y Apellido</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="filteredUsers.length > 0; else noResults">
          <tr *ngFor="let user of filteredUsers">
            <td>{{ user.uid }}</td>
            <td>{{ user.nombre }} {{ user.apellido }}</td>
            <td>{{ user.correo }}</td>
            <td>
              <div id="wrap" mat-button [matMenuTriggerFor]="editUser">
                <a class="btn-slide">
                  <span class="circle"><mat-icon>edit_attributes</mat-icon></span>
                  <span class="title">Editar datos..</span>
                  <span class="title-hover"><mat-icon>keyboard_arrow_down</mat-icon></span>
                </a>
                <a class="btn-slide">
                  <span class="circle"><mat-icon>visibility_off</mat-icon></span>
                  <span class="title">Deshabilitar..</span>
                  <span class="title-hover"><mat-icon>keyboard_arrow_right</mat-icon></span>
                </a>
              </div>
            </td>
          </tr>
          <mat-menu #editUser="matMenu" class="edit-menu">
            <!-- Código del menú de edición -->
          </mat-menu>
        </ng-container>
      </tbody>
    </table>
  </div>
</body>
<ng-template #noResults>
  <div class="no-results-message">
    No se encontraron resultados.
  </div>
</ng-template>
</html>
