<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<app-navbar></app-navbar>
<body>
  <div class="container" >
    <div class="searchHintBox">
      <div class="searchHint">Recuerda tener tus credenciales de administrador para poder ingresar a la consola de la base de datos.</div>
    </div>    
    <div class="search">
      <input type="text" [(ngModel)]="searchEmail" placeholder="Buscar por UID o Correo electrónico" class="searchTerm" (input)="filterUsers()" />
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
    </div>
    <div class="wrap2-wrapper">
      <div id="wrap2" [routerLink]="['/register']">
        <a class="btn-slide">
          <span class="circle"><mat-icon>add_circle_outline</mat-icon></span>
          <span class="title">Añadir usuario...</span>
          <span class="title-hover"><mat-icon>keyboard_arrow_right</mat-icon></span>
        </a>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>UID</th>
          <th>Nombre y Apellido</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="filteredUsers.length > 0; else noResults">
          <tr *ngFor="let user of filteredUsers">
            <td>{{ user.uid }}</td>
            <td>{{ user.nombre }} {{ user.apellido }}</td>
            <td>{{ user.correo }}</td>
            <td>
              <div id="wrap" mat-button [matMenuTriggerFor]="editUser">
                <a class="btn-slide">
                  <span class="circle"><mat-icon>edit_attributes</mat-icon></span>
                  <span class="title">Editar datos..</span>
                  <span class="title-hover"><mat-icon>keyboard_arrow_down</mat-icon></span>
                </a>
              </div>
              <div id="wrap">
                <a class="btn-slide" href="https://console.firebase.google.com/u/0/" target="_blank">
                  <span class="circle"><mat-icon>visibility_off</mat-icon></span>
                  <span class="title">Deshabilitar..</span>
                  <span class="title-hover"><mat-icon>keyboard_arrow_right</mat-icon></span>
                </a>
              </div>                         
              <mat-menu #editUser="matMenu" class="edit-menu">
                <ng-template matMenuContent>
                  <form>
                    <div>
                      <label for="nombre">Nombre: {{ user.nombre }} <mat-icon (click)="mostrarPromptCampo(user, 'nombre')">edit</mat-icon> </label>
                    </div>
                    <div>
                      <label for="apellido">Apellido: {{ user.apellido }} <mat-icon (click)="mostrarPromptCampo(user, 'apellido')">edit</mat-icon> </label>
                    </div>                    
                    <div>
                      <label for="rut">Rut: {{ user.rut }} <mat-icon (click)="mostrarPromptCampo(user, 'rut')">edit</mat-icon> </label>
                    </div>
                    <div>
                      <label for="dv">Digito Verificador: {{ user.dv }} <mat-icon (click)="mostrarPromptCampo(user, 'dv')">edit</mat-icon> </label>
                    </div>
                    <div>
                      <label for="telefono">Telefono: {{ user.telefono }} <mat-icon (click)="mostrarPromptCampo(user, 'telefono')">edit</mat-icon> </label>
                    </div>
                    <div>
                      <label for="direccion">Direccion: {{ user.direccion }} <mat-icon (click)="mostrarPromptCampo(user, 'direccion')">edit</mat-icon> </label>
                    </div>
                    <div>
                      <label for="numDireccion">Numero Direccion: {{ user.numDireccion }} <mat-icon (click)="mostrarPromptCampo(user, 'numDireccion')">edit</mat-icon> </label>
                    </div>
                    <div>
                      <label for="comuna">Comuna: {{ user.comuna }} <mat-icon (click)="mostrarPromptCampo(user, 'comuna')">edit</mat-icon> </label>
                    </div>
                    <div>
                      <label for="email">Email: {{ user.correo }} <mat-icon (click)="mostrarPromptCampo(user, 'correo')">edit</mat-icon> </label>
                    </div>
                    <div>
                      <label for="fNacimiento">Fecha Nacimiento: {{ user.nacimiento }}<mat-icon (click)="mostrarPromptCampo(user, 'nacimiento')">edit</mat-icon> </label>
                    </div>
                    <div>
                      <label for="tCuenta">Tipo de cuenta: {{ user.perfil }}<mat-icon (click)="mostrarPromptCampo(user, 'perfil')">edit</mat-icon> </label>
                    </div>
                  </form>
                  
                </ng-template>
              </mat-menu>
            </td>

          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="dialog-overlay" *ngIf="mostrarPrompt">
    <div class="dialog-container">
      <div class="dialog-content">
        <h3>Ingrese el nuevo valor para {{ campoSeleccionado }}</h3>
        <div class="dialog-buttons">
          <input type="text" [(ngModel)]="campoActualizado" placeholder="Nuevo {{ campoSeleccionado }}">
          <div class="button-group">
            <button (click)="actualizarCampo()">Actualizar</button>
            <button (click)="cerrarDialogo()">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<ng-template #noResults>
  <div class="no-results-message">
    No se encontraron resultados.
  </div>
</ng-template>
<app-footer></app-footer>
</html>
