
<app-navbar></app-navbar>

<div class="container">
  <h1>Detalles de la Solicitud</h1>

  <div class="places">

    <div class="place" *ngIf="publicacion && trabajo">
      <h2>Trabajo</h2>
      <div class="div-contenedor">
        <div class="div-icon">
          <img src="../../../assets/img/maletin_azul.png" alt="">
        </div>
        <div class="info">
          <p><b>Título de la publicación:</b> {{ publicacion.titulo }}</p>
          <p><b>Comentario del usuario:</b> {{ trabajo.mensaje }}</p>
          <p><b>Nombre del Trabajador:</b> {{ nombreTrabajador }}</p>
          <p><b>Precio Estimado:</b> ${{ trabajo.precio }}</p>
          <p><b>Estado:</b> {{ trabajo.estado }}</p>
          <p><b>Mensaje del Trabajador:</b> {{ trabajo.mensajeTrabajador }}</p>
        </div>
      </div>
      
      <div class="div-button">
        <button type="submit" class="btn btn-primary" (click)="aceptarTrabajo()">Contratar</button>
        <button type="submit" class="btn btn-primary" (click)="rechazarTrabajo()">Rechazar Propuesta</button>
        <button type="submit" class="btn btn-primary" (click)="calificar()">Completar trabajo</button>
        <button type="submit" class="btn btn-primary" (click)="pagar()">Pagar Abono</button>

      </div>
      
    </div>

  </div>


</div>

<app-footer></app-footer>