.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.place {
    border-radius: 10px;
    display: flex;
    flex-direction: column;    
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.162);
    overflow: hidden;
    padding: 15px;
    margin-top: 20px;  
    width: 80vw;
    background-color:whitesmoke;


}
.div-contenedor{
    display: flex;
    flex-direction: row;
}
.div-icon{
    display: flex;
    justify-content: center;
    text-align: center;
}
.div-icon img{
    width: 250px;
    height: auto;
    
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.place{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px 30px 40px 30px;
    margin-bottom: 30px;
    position: relative;
}
.place .info {
    padding: 10px 20px;
    
    
}

.help {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 25px;
  }


.div-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    margin-top: 15px;
    color:  #304A76;
    border: none;
    font-weight: 600;
    cursor: pointer;
    background-color:transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

button:hover {
    color: #228BFB;
    text-decoration: underline;    

}

.custom-menu {
    max-width: 300px;
    padding-left: 10px;
  }
  
  .custom-menu h4 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .custom-menu p {
    margin-bottom: 20px;
    font-size: 14px;
  }