<app-navbar></app-navbar>
<h1>¿Tienes dudas? ¡Solucionalas aqui!</h1>
<div class="container">
    <div class="column">
      <div class="box">
        <h2>Cliente</h2>
        <img src="../assets/img/model_client.png" alt="Trabajador" class="circle-image">
        <p>El perfil de cliente está diseñado para aquellas 
            personas que tienen una finalidad clara: buscar servicios 
            específicos que se adapten a sus necesidades. Como cliente, 
            te beneficiarás de todas las funciones y características que ofrece nuestra plataforma. 
            Si esta descripción se apega a tus necesidades el perfil de cliente es el indicado para tí!</p>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <h2>Trabajador</h2>
        <img src="../assets/img/model_worker.png" alt="Trabajador" class="circle-image">
        <p>Si tienes habilidades y servicios que ofrecer, el perfil de trabajador es perfecto para ti. 
            Como trabajador en nuestro sistema, tendrás la oportunidad de promocionar tus 
            servicios y conectarte con clientes que buscan exactamente lo que tú ofreces.
            Esto te permite establecer una comunicación fluida y clara para discutir los detalles del servicio</p>
      </div>
    </div>
  </div>

  <div class="terms-container">
    <div class="terms-box">
      <h2>¿Como funciona CRVICE?</h2>
      <h3>COMO CLIENTE</h3>
      <img src="../assets/img/cliente_tutorial.png" alt="Trabajador" class="image-tutorial">
      <h3>COMO TRABAJADOR</h3>
      <img src="../assets/img/trabajador_tutorial.png" alt="Trabajador" class="image-tutorial">
    </div>
  </div> 
  
  <div class="terms-container">
    <div class="terms-box">
      <h2>Términos y condiciones del servicio</h2>
      <p>Estos Términos y Condiciones del Servicio (en adelante, "Términos") regulan el uso de la plataforma CRVICE.CL (en adelante, "el Sitio web"), propiedad de CRVICE, por parte de los usuarios ("Trabajadores/Prestamistas" y "Clientes"). Al acceder y utilizar el Sitio web, los usuarios aceptan cumplir con estos Términos. Si no estás de acuerdo con alguno de los términos aquí establecidos, te recomendamos que no utilices el Sitio web.</p>
  
      <h3>1. Uso de la plataforma</h3>
      <p>
        1.1. CRVICE.CL es una plataforma web que permite a los usuarios publicar y buscar servicios de diversa índole. Los Trabajadores/Prestamistas pueden ofrecer sus servicios, mientras que los Clientes pueden buscar y contratar servicios específicos.<br>
        1.2. Los usuarios son responsables de la veracidad y exactitud de la información proporcionada en sus perfiles y publicaciones. CRVICE no se hace responsable por la información proporcionada por los usuarios ni por los servicios ofrecidos por los Trabajadores/Prestamistas.<br>
        1.3. Los usuarios deben ser mayores de edad y tener capacidad legal para utilizar el Sitio web.
      </p>
  
      <h3>2. Publicación de servicios</h3>
      <p>
        2.1. Los Trabajadores/Prestamistas pueden publicar servicios en el Sitio web, incluyendo información sobre sus habilidades, experiencia y tarifas. La publicación de servicios debe ser clara, precisa y acorde a la realidad.<br>
        2.2. CRVICE se reserva el derecho de eliminar o modificar cualquier publicación que incumpla estos Términos o que viole la ley o los derechos de terceros.<br>
        2.3. Los Clientes pueden buscar y filtrar servicios según sus necesidades. CRVICE no garantiza la disponibilidad de los servicios ni la calidad de los mismos.
      </p>
  
      <h3>3. Comunicación entre usuarios</h3>
      <p>
        3.1. El Sitio web cuenta con un sistema de chat integrado que permite la comunicación entre Trabajadores/Prestamistas y Clientes. Los usuarios se comprometen a utilizar este sistema de manera respetuosa y adecuada.<br>
        3.2. CRVICE no se hace responsable por las conversaciones y acuerdos realizados a través del sistema de chat. Los usuarios son responsables de cualquier acuerdo o transacción realizada con otro usuario.
      </p>
  
      <h3>4. Pagos y transacciones</h3>
      <p>
        4.1. El Sitio web permite realizar pagos en línea para los servicios contratados. CRVICE utiliza una plataforma de pago externa para procesar dichas transacciones. CRVICE no se hace responsable por problemas, fallos o fraudes relacionados con el proceso de pago, ya que la responsabilidad recae en la plataforma de pago externa.<br>
        4.2. Los usuarios acuerdan que CRVICE no será responsable por ninguna disputa o reclamo relacionado con pagos o transacciones entre los usuarios.
      </p>
  
      <h3>5. Calificación y opiniones</h3>
      <p>
        5.1. El Sitio web cuenta con un sistema de calificación que permite a los Clientes evaluar y dejar opiniones sobre los servicios prestados por los Trabajadores/Prestamistas. Estas calificaciones y opiniones son responsabilidad exclusiva de los usuarios que las emiten.<br>
        5.2. CRVICE no controla ni garantiza la veracidad de las calificaciones y opiniones de los usuarios. Sin embargo, se reserva el derecho de eliminar calificaciones y opiniones que incumplan estos Términos o que sean difamatorias, ofensivas o fraudulentas.
      </p>
  
      <h3>6. Responsabilidad y limitaciones</h3>
      <p>
        6.1. CRVICE no garantiza la disponibilidad, calidad, seguridad o idoneidad de los servicios ofrecidos por los Trabajadores/Prestamistas. Los usuarios utilizan los servicios bajo su propio riesgo y responsabilidad.<br>
        6.2. CRVICE no se hace responsable por daños, pérdidas o perjuicios derivados del uso del Sitio web o de los servicios contratados a través del mismo. Esto incluye, pero no se limita a, daños directos, indirectos, incidentales, especiales o consecuentes, pérdida de beneficios, interrupción del negocio o pérdida de datos.<br>
        6.3. CRVICE no se hace responsable por la veracidad, exactitud o legalidad de la información proporcionada por los usuarios, ni por los actos u omisiones de los usuarios.<br>
        6.4. Los usuarios se comprometen a indemnizar y mantener indemne a CRVICE y a sus representantes legales de cualquier reclamo, demanda o responsabilidad que surja del incumplimiento de estos Términos o de la violación de derechos de terceros.
      </p>
  
      <h3>7. Modificaciones y terminación</h3>
      <p>
        7.1. CRVICE se reserva el derecho de modificar estos Términos en cualquier momento y sin previo aviso. Se recomienda a los usuarios revisar periódicamente los Términos para estar al tanto de las actualizaciones.<br>
        7.2. CRVICE se reserva el derecho de terminar o suspender el acceso al Sitio web, en su totalidad o en parte, en cualquier momento y por cualquier motivo sin previo aviso.
      </p>
  
      <h3>8. Propiedad intelectual</h3>
      <p>
        8.1. Todos los derechos de propiedad intelectual sobre el Sitio web, incluyendo pero no limitado a textos, gráficos, logotipos, imágenes y software, son propiedad exclusiva de CRVICE o de sus respectivos propietarios.<br>
        8.2. Los usuarios se comprometen a respetar los derechos de propiedad intelectual de CRVICE y de terceros. Queda prohibida la reproducción, distribución, modificación, venta o cualquier otro uso no autorizado de los contenidos del Sitio web sin el consentimiento previo por escrito de CRVICE o de los respectivos propietarios.
      </p>
  
      <h3>9. Ley aplicable y jurisdicción</h3>
      <p>
        9.1. Estos Términos se rigen e interpretan de acuerdo con las leyes de Chile.<br>
        9.2. Cualquier controversia que surja de estos Términos será sometida a la jurisdicción exclusiva de los tribunales competentes de Chile.
      </p>
    </div>
  </div>

  <div class="terms-container">
    <div class="terms-box">
      <p>Si aún sigues con dudas de CRVICE, crea una cuenta y habla con nuestro equipo para resolver todas tus dudas!</p>
    </div>
  </div>
  
<app-footer></app-footer>