.div-fondo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.contenedor-pago {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 1000px;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor-pago h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

.contenedor-pago h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

.contenedor-pago p {
  margin-bottom: 5px;
  font-size: 20px;
}

.contenedor-boton-pago {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 610px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.contenedor-boton-pago .boton-pago {
  margin-top: 10px;
}

.button-success {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.button-success:hover {
  background-color: #218838;
}

.button-success:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
}

.button-success:active {
  background-color: #1e7e34;
}

.mat-spinner-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .div-fondo {
    margin: 0;
    padding: 20px;
  }

  .contenedor-pago {
    width: auto;
    max-width: 90%;
  }

  .contenedor-boton-pago {
    width: auto;
    max-width: 90%;
  }
}
