<!DOCTYPE html>
<html>
<head>
    <title>Publicaciones</title>
</head>
<header>
    <app-navbar></app-navbar>
</header>
<body>
<div class="container">
    <h1>Publicaciones</h1>
    <div class="search">
        <input type="text" id="rutInput" class="searchTerm" placeholder="Buscar publicación por rut del usuario o ID..." [(ngModel)]="rutUsuario" (input)="filtrarPublicaciones()" />
    </div>
    <div class="places">
        <div class="place" *ngFor="let publicacion of publicacionesFiltradas">
            <div class="info">
                <h2>Titulo: {{ publicacion.titulo }}</h2>
                <small>Precio estimado: ${{ publicacion.precio }}</small>
                <p>Descripcion: {{ publicacion.descripcion }}</p>
                <p>RUT: {{ publicacion.rut }}-{{ publicacion.dv }}</p>
                <p>Id de la Publicacion: {{ publicacion.id }}</p>
                <button class="btna" (click)="editarPublicacion(publicacion.id)">Editar</button>
                <button class="eliminar" (click)="mostrarDialogo(publicacion)">Eliminar</button>
                <div class="dialog-overlay" *ngIf="mostrarPrompt">
                    <div class="dialog-container">
                        <div class="dialog-content">
                            <h3>¿Estás seguro que deseas eliminar la publicación?</h3>
                            <div class="dialog-buttons">
                                <button (click)="eliminarPublicacion()">Sí</button>
                                <button (click)="cerrarDialogo()">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noPublicaciones>
            <div class="no-publicaciones">
                No se encuentran publicaciones relacionadas con este rut.
            </div>
        </ng-template>
    </div>
</div>
</body>
<app-footer></app-footer>
</html>