<!DOCTYPE html>
<html>
<head>
	<title>Editar Publicación</title>
</head>

<body>
  <div class="nueva-publicacion">
    <h1>Editando Publicación</h1>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div *ngIf="publicacion">
        <p>Título:</p>
        <input type="text" name="titulo" class="form-nombre" [(ngModel)]="publicacion.titulo" />
        <br />
        <p>Rubro:</p>
        <input type="text" name="rubro" class="form-nombre" [(ngModel)]="publicacion.rubro" />
        <br />
        <p>Precio Estimado:</p>
        <input type="text" name="precio" class="form-nombre" [(ngModel)]="publicacion.precio" />
        <br />
        <p>Descripción:</p>
        <textarea name="descripcion" class="form-nombre" [(ngModel)]="publicacion.descripcion"></textarea>
        <br />
        <p>Imagen:</p>
        <input type="text" name="imagen" class="form-nombre" [(ngModel)]="publicacion.imagen" />
        <br />
        <button type="submit" class="btn">Guardar cambios</button>
      </div>
    </form>

  </div>
  
</body>


