body, html{
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.nueva-publicacion {
    background-color: white;
    width: 490px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align:left;
    padding-bottom: 20px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);

}

h1 {
    padding-top: 15px;
    padding-bottom: 10px;
}

input, textarea {
    border: 0;
    outline: none;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}


.form-nombre {
    border: solid 1px #ccc;
    padding: 10px;
}
.form-nombre:focus{
    outline: none;
    border-color: #6f86d6 ;
}

.div-btn .btn {
    margin-top: 10px;
    margin-right: 5px; /* Agregado: espacio entre los botones */
    padding: 10px 30px; /* Ajuste: disminuir el padding horizontal */
    background: #228BFB;
    border-radius: 8px; /* Ajuste: reducir el radio de los bordes */
    color: white;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer;
}

.btn:first-child {
    margin-right: 0; /* Ajuste: eliminar el margen derecho del primer botón */
}

.div-btn .btn:hover {
    background-color: #1e71ca;
  }
  
.div-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}


mat-spinner{
    margin-top: 70px;
    margin-bottom: 70px;
}

@media (max-width: 500px) {
    .nueva-publicacion {
        width: 100%;
    } 
    .div-btn {
        flex-direction: column;
    }
    .div-btn .btn {
        margin-top: 10px; /* Ajuste del margen entre los botones */
    }
    
    .div-btn .btn:first-child {
        margin-top: 10px; /* Ajuste del margen superior del primer botón */
    }
}