.div-imagen img{
    
    width: 400px;
    height: auto;
    margin-left: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.285);
}
.div-imagen {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width:80%;
    /* margin: auto; */
}
h2{
    font-size: 40px;
    margin-bottom: 30px;
}

.info{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 50%;
    text-align: justify;
    margin-right: 10px;
}


@media only screen and (max-width:770px) {
    .div-imagen img{
        width: 300px;
        height: auto;
        margin-top: 30px;
        
    }
    .div-imagen{
        display: flex;
        width:95%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    .info{
        display: flex;
        width:95%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }
    
    h2{
        font-size: 40px;
        margin-bottom: 30px;
        text-align: center;
    }
    .container {
        display: flex;
        width:95%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
