mat-toolbar {
    justify-content: space-between;
    background-color: #1e71ca;
    /* background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%); */
    color: whitesmoke;
  }
  
.profile-image-toolbar {
    border-radius: 100%;
    margin-right: 8px;
}
.profile-image > img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}
button mat-icon{
    color: rgb(168, 168, 168);
}
mat-toolbar button {
    color: whitesmoke;
}
h1 {
    text-align: center;
}

label {
    font-weight: bold;
    color: #231656;
}
p {
    display: inline;
    text-align: right;
}

.cerrar-sesion {
    margin-top: 20px;
    background-color:#228BFB;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.276);
}
.cerrar-sesion:hover {
    background-color: #1e71ca;
}

h2 {
    margin-bottom: 10px;
    margin-left: 20px;
}

.datos-personales{
    margin-bottom: 40px;
    margin-top:20px;
}

.datos-personales .container{
    display: flex;
    flex-direction: row;

}

.izq {
    width: 25%;
    height: auto;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.estrellas {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.div-imagen img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.285);
}

.der{
    width: 65%;
    height: auto;
    justify-content: space-between;
}



.datos {
    margin-right: 90px;
    margin-left: 20px;
}

hr {
    width: 100%;
    margin: 10px 0 ;
    border: none;
}
button {
    background:none;
    cursor: pointer;
    border-style: none;
    color: gray;
    margin-left: 0;
    
}
.span-button {
    float: right;
}
.editar{
   margin-left:100px; 
}

.div-botones {
    display: flex;
    justify-content: space-around;
}

.img-comentario {
    width: 150px;
    height: 150px;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.162);
}

.comentario {
    width: 95%;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.162);
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;   
    background-color:whitesmoke;
}

.contenedor-comentario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.div-comentario {
    width: 60%;
    justify-content: center;
    display: flex;
    text-align: center;

    flex-direction: column;
}
.div-comentario p{
    text-align: left;
}

.mas-comentarios {
    margin-top: 30px;
}

.mas-comentarios {
    background-color: rgb(204, 200, 200);
    padding: 10px;
}




/* ===Vista Responsive=== */
@media only screen and (max-width:1070px) {
    .datos {
        margin-right: 30px;
    }
    .div-imagen img {
        width: 250px;
        height: 250px;
    }
    .der{
        width: 70%;
        height: auto;
        justify-content: space-between; 
    }
    .izq {
        width: 30%;
        height: auto;   
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}

@media only screen and (max-width:770px) {
    .datos {
        margin-right: 20px;
    }
    .div-imagen img {
        width: 200px;
        height: 200px;
    }
    .comentario {
        width: 95%;
       
    }
}
@media only screen and (max-width:690px) {

    .datos-personales .container{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
 
    .izq {
        width: auto;
    }

    .div-imagen img {
        width: 250px;
        height: 250px;
    }

    .der{
        width: auto;
    }
    .der h2 {
        margin-left: 20px;
    }

    .datos {
        margin: 0 20px;
    }

    .div-botones {
        display: flex;
        justify-content: space-around;
    }

    .img-comentario {
        width: 100px;
        height: 100px;
        align-items: center;
    }

    .comentario {
        padding: 10px;
        margin-top: 15px;   
    }

    .div-comentario {
        width: 70%;
    }
    .div-comentario p{
        text-align: left;
        font-size: 14px;
    }

    .mas-comentarios {
        margin-top: 20px;
    }

    .mas-comentarios {
        padding: 8px;
    }

}
@media only screen and (max-width:473px){
    .div-imagen img {
        width: 150px;
        height: 150px;
    }
    .der h2 {
        font-size: 20px;
    }
    label {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
    .cerrar-sesion {
        margin-top: 0;
        font-size: 11px;
    }
    .img-comentario {
        width: 70px;
        height: 70px;
    }

    .comentario {
        width: 95%;
        padding: 8px;
        margin-top: 10px;   
    }

    .div-comentario p{
        text-align: left;
        font-size: 14px;
    }

    .mas-comentarios {
        margin-top: 15px;
    }
}



/* boton */

#wrap {
    margin: 0px auto;
    text-align: center;
}

.btn-slide, .btn-slide2 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: #fdfdfd;
    border: 2px solid #0099cc;
    margin: 10px;
    transition: .5s;
}

.btn-slide2 {
    border: 2px solid #efa666;
}

.btn-slide:hover {
    background-color: #0099cc;
}

.btn-slide2:hover {
    background-color: #efa666;
}

.btn-slide:hover span.circle, .btn-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;
    background-color: #fdfdfd;
    color: #0099cc;
}

.btn-slide2:hover span.circle2 {
    color: #efa666;
}

.btn-slide:hover span.title, .btn-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}

.btn-slide:hover span.title-hover, .btn-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 40px;
}

.btn-slide span.circle, .btn-slide2 span.circle2 {
    display: block;
    background-color: #0099cc;
    color: #fff;
    position: absolute;
    float: left;
    margin: 3px;
    line-height: 54px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}

.btn-slide2 span.circle2 {
    background-color: #efa666;
}

.btn-slide span.title,
  .btn-slide span.title-hover, .btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    position: absolute;
    left: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #30abd5;
    transition: .5s;
}

.btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    color: #efa666;
    left: 80px;
  }

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
    left: 80px;
    opacity: 0;
}

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
    color: #fff;
}

.estrellas {
    color: yellow;
    display: inline-flex; 
    flex-direction: row;
  }
  
  .llena {
    color: gold;
  }
  
  .vacia {
    color: gray;
  }
  
  .etiqueta {
    margin-right: 5px; 
  }
  