<!DOCTYPE html>
<html>
<head>
    <title>Perfil de Usuario</title>
</head>
<header>
    <mat-toolbar *ngIf="user$ | async as user">
        Crvice
         <ng-container *ngIf="info"> <!--*ngIf="user$ | async as user; else loginButton" -->
          <button mat-button [matMenuTriggerFor]="userMenu" >
          <img width="30" height="30" class="profile-image-toolbar" [src]="user.photoURL ?? '/assets/img/image-placeholder.png'" />
             {{ info.nombre }}
            <mat-icon>expand_more</mat-icon>
          </button>
        </ng-container>
      
        <ng-template #loginButton>
          <button mat-button routerLink="login">
            <mat-icon>login</mat-icon>
            Login
          </button>
        </ng-template>
      </mat-toolbar>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>account_circle</mat-icon>
          Perfil
        </button>
        <button mat-menu-item (click)="resetPassword()">
            <mat-icon>vpn_key</mat-icon>
            Cambiar Contraseña
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          Cerrar Sesión
        </button>
      </mat-menu>
</header>
<body>
    
    <!-- seccion datos personales -->
    <section class="datos-personales">
      <div class="container" *ngIf="user$ | async as user">
        <div class="izq">
          <div class="div-imagen">
            <img [src]="user.photoURL ?? '/assets/img/image-placeholder.png'" />
          </div>
          <div id="wrap" (click)="inputField.click()">
            <a class="btn-slide">
              <span class="circle"><mat-icon>edit</mat-icon></span>
              <span class="title">Editar</span>
              <span class="title-hover">...</span>
            </a>
          </div>
        </div>
        <input #inputField hidden type="file" (change)="uploadFile($event, user)" />
    
        <div class="der">
          <h2>Datos Personales</h2>
          <div class="datos" *ngIf="info">
                    <label>Nombre:</label>
                    <p class="p-datos"> {{info.nombre}} <span class="span-button"><button class="editar"(click)="mostrarPromptNombre()">Editar</button></span> </p>
                    <hr>
                    <label>Apellido:</label>
                    <p class="p-datos"> {{info.apellido}} <button class="editar span-button" (click)="mostrarPromptApellido()">Editar</button></p>
                    <hr>
                    <label>RUT:</label>
                    <p> {{info.rut}}-{{info.dv}} </p>
                    <hr>
                    <label>Correo Electronico:</label>
                    <p> {{info.correo}} </p>
                    <hr>
                    <label>Telefono:</label>
                    <p class="p-datos"> {{info.telefono}} <button class="editar span-button" (click)="mostrarPromptTelefono()">Editar</button></p>
                    <hr>
                    <label>Direccion:</label>
                    <p class="p-datos"> {{info.direccion}} <button class="editar span-button" (click)="mostrarPromptDireccion()">Editar</button></p>
                    <hr>
                    <label>Comuna:</label>
                    <p class="p-datos"> {{info.comuna}} <button class="editar span-button" (click)="mostrarPromptDireccion()">Editar</button></p>
                    <hr>
                    <label>Fecha de Nacimiento:</label>
                    <p> {{info.nacimiento}} </p>
                    <hr>
                    <div class="div-botones">
                        <!-- <button class="cerrar-sesion" (click)="resetPassword()">Cambiar contraseña</button> -->
                        <!-- <button class="cerrar-sesion" (click)="logout()">Cerrar Sesion</button>  -->
                        <button class="cerrar-sesion" *ngIf="info.perfil.toString() === '2'" (click)="verMisContrataciones()">Mis Contrataciones</button>
                        <button class="cerrar-sesion" *ngIf="info.perfil.toString() === '1'" (click)="crearPublicacion()">Crear publicación</button>
                        <button class="cerrar-sesion" *ngIf="info.perfil.toString() === '1'" (click)="verMisPublicaciones()">Mis publicaciones</button>
                        <button class="cerrar-sesion" *ngIf="info.perfil.toString() === '1'" (click)="verMisSolicitudes()">Mis Solicitudes</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- seccion comentarios -->
    <div class="container contenedor-comentario">
        <h2>Comentarios</h2>


        <div class="comentario">
            <div >
                <img class="img-comentario" src="../../../assets/img/foto1.jpg" alt="">
            </div>
            <div class="div-comentario">
                <h4>nombre</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia a perspiciatis omnis! 
                    Laudantium, odit placeat hic voluptas alias iste, nobis corporis sint adipisci dignissimos 
                    tempore deleniti dicta reprehenderit explicabo earum!
                </p>
            </div>
        </div>


        <button class="mas-comentarios">cargar mas comentarios</button>
    </div>



</body>

<app-footer></app-footer>
</html>


