<!DOCTYPE html>
<html>
<head>
    <title>Perfil de Usuario</title>
</head>
<app-navbar></app-navbar>
<body>
    <!-- seccion datos personales -->
    <div class="mat-spinner-center" *ngIf="isLoading">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
    <section *ngIf="showContainer" class="datos-personales">
      <div class="container" *ngIf="user$ | async as user">
        <div class="izq">
          <div class="div-imagen">
            <img [src]="user.photoURL ?? '/assets/img/image-placeholder.png'" />
          </div>
          <div id="wrap" (click)="inputField.click()">
            <a class="btn-slide">
              <span class="circle"><mat-icon>edit</mat-icon></span>
              <span class="title">Editar</span>
              <span class="title-hover">...</span>
            </a>
          </div>
          <div class="datos-bancarios" *ngIf="info?.perfil?.toString() === '1'">
            <div class="help-container">
              <mat-icon class="help" mat-button [matMenuTriggerFor]="helpMenu">help</mat-icon>
              <h2 class="titulo">Tus datos bancarios</h2>
            </div>
            <div class="confirmacion-borrar" *ngIf="mostrarConfirmacion">
              <p class="confirmacion-texto">¿Estás seguro de borrar tus datos?</p>
              <div class="confirmacion-botones">
                <button class="btn-eliminar" (click)="borrarDatosBank(idCuentaTrans)">Eliminar</button>
                <button class="btn-cancelar" (click)="cancelarBorrarDatos()">Cancelar</button>
              </div>
            </div>                            
            <ul>
              <li *ngFor="let data of datosBanco" class="datos-banco-item">
                <div class="datos-banco-info">
                  <div class="campo"><strong>Número de cuenta:</strong> {{ data.NumCuenta }}</div>
                  <div class="campo"><strong>Tipo de cuenta:</strong> {{ data.TipoCuenta }}</div>
                  <div class="campo"><strong>Banco:</strong> {{ data.Banco }}</div>
                </div>
                <button class="eliminar-banco">
                  <mat-icon class="eliminar-icon" (click)="confirmarBorrarDatos()">delete</mat-icon>
                </button>
              </li>
              <li *ngIf="datosBanco.length === 0" class="no-datos-bancarios">
                No existen datos bancarios a tu nombre. 
                Si quieres ingresar tus datos para una transferencia directamente a tu cuenta de banco, 
                haz click <button class="aqui" routerLink="/transferencia">aquí</button>
              </li>
            </ul>
          </div>                            
        </div>
        <input #inputField hidden type="file" (change)="uploadFile($event, user)" />

        <div class="der">
          <h2>Datos Personales</h2>
          <div class="datos" *ngIf="info">
                    <label>Nombre:</label>
                    <p class="p-datos"> {{info.nombre}} </p>
                    <hr>
                    <label>Apellido:</label>
                    <p class="p-datos"> {{info.apellido}} </p>
                    <hr>
                    <label>RUT:</label>
                    <p> {{info.rut}}-{{info.dv}} 
                    </p>
                    <hr>
                    <label>Correo Electronico:</label>
                    <p> {{info.correo}} </p>
                    <hr>
                    <label>Teléfono:</label>
                    <p class="p-datos"> {{info.telefono}} 
                    </p>
                    <!-- prompt -->
                    <div class="profile">
                      <!-- Otros elementos HTML existentes... -->
                      <button (click)="mostrarPrompt('telefono')">Editar</button>
                      <div class="dialog-overlay" *ngIf="mostrarDialogo">
                        <div class="dialog-container">
                          <app-custom-prompt (saveClicked)="onCustomPromptSave($event)" (promptClosed)="closePrompt()"></app-custom-prompt>
                        </div>
                      </div>                          
                    </div>
                    <!-- prompt -->
                    <hr>
                    <label>Dirección:</label>
                    <p class="p-datos"> {{info.direccion}} {{info.numDireccion}} 
                    </p>
                    <hr>
                    <label>Comuna:</label>
                    <p class="p-datos"> {{info.comuna}} 
                    </p>
                    <hr>
                    <label>Fecha de Nacimiento:</label>
                    <p> {{info.nacimiento}} 
                    </p>
                    <hr>
                    <hr>
                    <p> Tienes problemas con alguno de tus datos personales? haz click </p> 
                    <div *ngFor="let user of users$ | async">
                      <button class="aqui" *ngIf="user.uid == adminId" (click)="createChat(user)">aquí!</button>
                    </div> 
                    <hr>
                    <div class="div-botones">
                        <!-- <button class="cerrar-sesion" (click)="resetPassword()">Cambiar contraseña</button> -->
                        <!-- <button class="cerrar-sesion" (click)="logout()">Cerrar Sesion</button>  -->
                        <button class="cerrar-sesion" *ngIf="info.perfil.toString() === '2'" (click)="verMisContrataciones()">Mis Contrataciones</button>
                        <button class="cerrar-sesion" *ngIf="info.perfil.toString() === '1'" (click)="crearPublicacion()">Crear publicación</button>
                        <button class="cerrar-sesion" *ngIf="info.perfil.toString() === '1'" (click)="verMisPublicaciones()">Mis publicaciones</button>
                        <button class="cerrar-sesion" *ngIf="info.perfil.toString() === '1'" (click)="verMisSolicitudes()">Mis Solicitudes</button>
                        <button class="cerrar-sesion" *ngIf="info.perfil.toString() === '3'" (click)="gestPublicaciones()">Gestionar Publicaciones</button>
                        <button class="cerrar-sesion" *ngIf="info.perfil.toString() === '3'" (click)="gestUsers()">Gestionar Usuarios</button>

                    </div>
                    
                </div>
            </div>
        </div>        
    </section>
    <!-- seccion comentarios -->
    <div *ngIf="showContainer" class="container contenedor-comentario">
      <h2>Calificación y Comentarios</h2>
      <p>Calificación General: {{ averageRating | number: '1.2-2' }}</p>
      <div class="comentario" *ngFor="let calificacion of ratings.slice(0, contador)">
        <div>
          <img class="img-comentario" src="../../../assets/img/img_comentario.jpg" alt="">
        </div>
        <div class="div-comentario">
          <p>
            <span class="etiqueta">Calificación:</span>
            <span class="estrellas">
              <i class="fas fa-star llena" *ngFor="let i of [1, 2, 3, 4, 5]" [ngClass]="{'vacia': i > calificacion.calificacion}"></i>
            </span>
          </p>
          <p>Comentario: {{ calificacion.comentario }}</p>
        </div>
      </div>
      <div class="div-btn" *ngIf="ratings.length > 0">
        <button class="mas-comentarios" *ngIf="mostrarCargarMas" (click)="cargarMasComentarios()">Cargar más comentarios</button>
        <button class="mas-comentarios" *ngIf="mostrarCargarMenos" (click)="cargarMenosComentarios()">Mostrar menos comentarios</button>
      </div >
      <div *ngIf="ratings.length == 0"> <p>Aún no tiene comentarios.</p> </div>
    </div>
    <mat-menu #helpMenu="matMenu" class="custom-menu">
      <ng-template matMenuContent>
        <p>* Recuerda que puedes tener solamente 1 cuenta para transferencia selecciona el icono de la papelera para eliminarla y crear una nueva.</p>
      </ng-template>
    </mat-menu>
</body>
<div class="dialog-overlay" *ngIf="mostrarPromptt">
  <div class="dialog-container">
    <div class="dialog-content">
      <h1>Lo sentimos</h1>
      <h2> Tienes una calificación menor a 2 estrellas después de 5 calificaciones.</h2>
      <h2> No podrás seguir interactuando con los servicios.</h2>
      <div class="dialog-buttons">
        <button (click)="cerrarDialogo()">Entendido</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
</html>


