mat-toolbar {
    justify-content: space-between;
    background-color: #1e71ca;
    /* background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%); */
    color: whitesmoke;
  }
  
.profile-image-toolbar {
    border-radius: 100%;
    margin-right: 8px;
}
.profile-image > img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}
button mat-icon{
    color: rgb(168, 168, 168);
}
mat-toolbar button {
    color: whitesmoke;
}
h1 {
    text-align: center;
}

label {
    font-weight: bold;
    color: #231656;
}
p {
    display: inline;
    text-align: right;
}

.cerrar-sesion {
    margin-top: 20px;
    background-color:#228BFB;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.276);
}
.cerrar-sesion:hover {
    background-color: #1e71ca;
}

h2 {
    margin-bottom: 10px;
}

.datos-personales{
    margin-bottom: 40px;
    margin-top:20px;
}

.datos-personales .container{
    display: flex;
    flex-direction: row;

}

.izq {
    width: 35%;
    height: auto;   
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.estrellas {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.div-imagen img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.285);
}

.der{
    width: 65%;
    height: auto;
    justify-content: space-between; 
}

.datos {
    margin-right: 90px;
}

hr {
    width: 100%;
    margin: 10px 0 ;
    border: none;
}
button {
    background:none;
    cursor: pointer;
    border-style: none;
    color: gray;
    margin-left: 0;
    
}
.span-button {
    float: right;
}
.editar{
   margin-left:100px; 
}

.div-botones {
    display: flex;
    justify-content: space-around;
}

.img-comentario {
    width: 150px;
    height: 150px;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.162);
}

.comentario {
    width: 95%;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.162);
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;   
    background-color:whitesmoke;
}

.contenedor-comentario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.div-comentario {
    width: 60%;
    justify-content: center;
    display: flex;
    text-align: center;

    flex-direction: column;
}
.div-comentario p{
    text-align: left;
}

.mas-comentarios {
    margin-top: 30px;
}

.mas-comentarios {
    background-color: rgb(204, 200, 200);
    padding: 10px;
}


/* ===Vista Responsive=== */
@media only screen and (max-width:1070px) {
    .datos {
        margin-right: 30px;
    }
    .div-imagen img {
        width: 250px;
        height: 250px;
    }
    .der{
        width: 70%;
        height: auto;
        justify-content: space-between; 
    }
    .izq {
        width: 30%;
        height: auto;   
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}

@media only screen and (max-width:770px) {
    .datos {
        margin-right: 20px;
    }
    .div-imagen img {
        width: 200px;
        height: 200px;
    }
    .comentario {
        width: 95%;
       
    }
}
@media only screen and (max-width:690px) {

    .datos-personales .container{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
 
    .izq {
        width: auto;
    }

    .div-imagen img {
        width: 250px;
        height: 250px;
    }

    .der{
        width: auto;
    }
    .der h2 {
        margin-left: 20px;
    }

    .datos {
        margin: 0 20px;
    }

    .div-botones {
        display: flex;
        justify-content: space-around;
    }

    .img-comentario {
        width: 100px;
        height: 100px;
        align-items: center;
    }

    .comentario {
        padding: 10px;
        margin-top: 15px;   
    }

    .div-comentario {
        width: 70%;
    }
    .div-comentario p{
        text-align: left;
        font-size: 14px;
    }

    .mas-comentarios {
        margin-top: 20px;
    }

    .mas-comentarios {
        padding: 8px;
    }

}
@media only screen and (max-width:473px){
    .div-imagen img {
        width: 150px;
        height: 150px;
    }
    .der h2 {
        font-size: 20px;
    }
    label {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
    .cerrar-sesion {
        margin-top: 0;
        font-size: 11px;
    }
    .img-comentario {
        width: 70px;
        height: 70px;
    }

    .comentario {
        width: 95%;
        padding: 8px;
        margin-top: 10px;   
    }

    .div-comentario p{
        text-align: left;
        font-size: 14px;
    }

    .mas-comentarios {
        margin-top: 15px;
    }
}